*{
    font-family: 'Grandstander', cursive;
}
#imgwrapper {
    /* Old browsers */
box-shadow: 1px 1px 1px 1px #000;

    border-radius: 25px;

    height: 300px;
    margin: 26px auto;
    padding: 16px 18px;
    width: 23%;
  
}
h1{
    text-align: center;
}
#imgwrapper p {
    color: #000;
    text-align: center;
 
}

img {
	-moz-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-webkit-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-o-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	-ms-box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
    box-shadow: 2.5px 2.5px 0.5px 0 rgba(125,127,125,0.8);
	display: block;
    height: auto;

    margin-left: -60px;
	width: 300px;
	margin: 0 auto;
}